<nav class="navbar navbar-inverse" role="navigation"
	ng-controller="HomeCtrl">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-inner">
		<!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		<a class="btn btn-navbar" data-toggle="collapse"
			data-target=".nav-collapse"> <span class="icon-bar"></span> <span
			class="icon-bar"></span> <span class="icon-bar"></span>
		</a> <a class="brand" href="#">Envite</a>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="nav-collapse collapse">
			<ul class="nav">
				<li ng-class="getClass('/home')"><a href="#/home">Home</a></li>
				<li ng-class="getClass('/createEvent')"><a href="#/createEvent">Create
						Envitation</a></li>
				<li ng-class="getClass('/listEvent')"><a href="#/listEvent">Your
						Envitations</a></li>
			</ul>
			<ul class="nav pull-right">
				<span ng-switch on="!loginUser">
					<p class="navbar-text" ng-switch-when="false">
						Signed in as {{ loginUser.firstName }} {{ loginUser.lastName }}
						<button class="btn btn-link" ng-click="logout()">Sign out</button>
					</p>
					<li class="login-header" ng-switch-when="true">
						<form class="form-inline" role="form">
							<input type="text" ng-model="user.username" class="input-small"
								id="inputUsername" placeholder="Username"> <input
								type="password" ng-model="user.password" class="input-small"
								id="inputPassword" placeholder="Password">
							<label
								class="remember"> <input type="checkbox"
								ng-model="remember"> Remember me
							</label>
							<button type="submit" class="btn btn-info"
								ng-click="login(user, remember)">Sign in</button>
						</form>
				</li>
				</span>
			</ul>
		</div>
	</div>
	<!-- /.navbar-collapse -->
</nav>