<div class="event-list container">
	<table class="table table-hover">
		<caption>Your Envitations</caption>
		<thead>
			<tr>
				<th>Title</th>
				<th>Guests</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="event in events">
				<td>
					<h3>
						<a ng-href="#/event/{{$index}}">
							{{ event.title }}
						</a>
					</h3>
				</td>
				<td>
					<ul class="inline">
						<li ng-repeat="guest in event.guests"><ng-switch
								on="guest.respond">
							<div tooltip="Not Respond or Not Accept"
								class="guest-img pull-left text-center" ng-switch-when="false">
								<img
									ng-src="https://identicons.github.com/{{ guest.name }}.png">
								<small class="text-muted">{{ guest.name }}</small>
								<div class="guest-res">
									<i class="icon-remove"></i>
								</div>
							</div>
							<div tooltip="Accepted" class="guest-img pull-left text-center"
								ng-switch-when="true">
								<img ng-src="https://identicons.github.com/{{ guest.name }}.png">
								<small class="text-muted">{{ guest.name }}</small>
								<div class="guest-res">
									<i class="icon-ok"></i>
								</div>
							</div>
							</ng-switch></li>
					</ul>
				</td>
				<td>
					<button type="button" class="btn btn-primary"
						ng-click="openEmailPanel(event.guests, $index)">
						<i class="icon-envelope"></i>Email
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>